<%= render 'shared/error_form', {model: @user} %>
<%= form_with model: @user, local: true do |f| %>
    <table class="user_table">
      <tr><th colspan="2">ユーザー登録</th></tr>
      <tr>
        <th><%= f.label :name ,"名前" %></th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th><%= f.label :email ,"Eメール" %></th>
        <td><%= f.email_field :email %></td>
      </tr>
      <tr>
        <th><%= f.label :password ,"パスワード" %></th>
        <td><%= f.text_field :password %></td>
      </tr>
      <tr><td colspan="2"><%= f.submit "登録完了する"%></td></tr>
      <tr><td colspan="2"><%= link_to "タイトルに戻る", root_path %></td></tr>
    </table>
  <% end %>